@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Teko:wght@300;400;500;600;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background-color: #fff;
  --h4-color: #f04e3c;
  --h1-color: #2c234d;

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  box-sizing: border-box;
}

body {

  min-width: 320px;
  min-height: 100vh;
  background: var(--background-color);
}

button {
  font-family: 'Teko', sans-serif;
  cursor: pointer;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--h1-color);
}
h4{
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 35px;
  text-transform: uppercase;
  color: var(--h4-color);
  display: inline-block;
  position: relative;
  letter-spacing: 0.05em;
  margin-left: 100px;
}

h4::before {
  content: '';
  width: 64px;
  height: 2px;
  background: var(--h4-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px;
}

.circle{
  width: 64px;
  height: 64px;
  background: red;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute ;
  z-index: 2;
  transition: all .3s ease;
}
.circle:hover {
  background: white;
}
.animated-circle{
  width: 64px;
  height: 64px;
  background: transparent;
  border: 1px solid red;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}


.material-symbols-outlined{
  color: white;
  z-index: 3;
  transition: all .3s ease;
}
.circle:hover .material-symbols-outlined {
  color: red;
  z-index: 4;
}
.material-symbols-outlined.logo{
  color: black;
  transform: scale(2);

margin-bottom: 45px;
  
}
.card:hover .material-symbols-outlined.logo {
  color: red;
  
}
input:focus, input:focus, textarea, textarea:focus {
  outline: 0;
}

